### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Total number of schools and students by doing count 
total_schools = school_data["school_name"].count()
total_students = student_data["student_name"].count()

#Total budget by doing sum of the budget
total_budget = school_data["budget"].sum()


#Calculating average math and reading scores by using mean
avg_math = student_data["math_score"].mean()
avg_reading = student_data["reading_score"].mean()


#Calculating math, reading, and total passing and finding the percentage by multiplying it by 100
math_passing = student_data.loc[student_data["math_score"] >= 70].count()['Student ID']
math_passing_per = (math_passing/total_students)*100

reading_passing = student_data.loc[student_data["reading_score"] >= 70].count()['Student ID']
reading_passing_per = (reading_passing/total_students)*100

total_passing =  student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)].count()['Student ID']
total_passing_per = (total_passing/total_students)*100

#Putting all of the findings in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Passing Math": [math_passing_per],
    "% Passing Reading": [reading_passing_per],
    "% Overall Passing": [total_passing_per]
})

#Adding all necessary formatting
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)
# district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.2f}%".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
#Finding school name, school type, total students, total budget per school and per student below by school name
by_school = school_data_complete.groupby('school_name')
school_type = by_school['type'].first()
student_per_school = by_school['Student ID'].count()
school_budget = by_school['budget'].mean()
student_budget = school_budget/by_school['size'].mean()

#Finding the average math and reading scores by each school using mean
average_math = by_school['math_score'].mean()
average_reading = by_school['reading_score'].mean()

#Finding the percent of passing for math, reading and overall using groupby
math_passing = school_data_complete.loc[school_data_complete["math_score"] >= 70].groupby('school_name')['Student ID'].count()/student_per_school
reading_passing = school_data_complete.loc[school_data_complete["reading_score"] >= 70].groupby('school_name')['Student ID'].count()/student_per_school
overall_passing = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby('school_name')['Student ID'].count()/student_per_school

#Putting all the findings in a DataFrame
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": student_per_school,
    "Total School Budget": school_budget,
    "Budget Per Student": student_budget,
    "Average Math Score": average_math,
    "Average Reading Score": average_reading,
    "% Passing Math": math_passing,
    "% Passing Reading": reading_passing,
    "% Overall Passing": overall_passing
})

#Adding all necessary formatting
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("${:,.2f}".format)
school_summary['Budget Per Student'] = school_summary['Budget Per Student'].map("${:,.2f}".format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:,.2f}".format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:,.2f}".format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map("{:.2%}".format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map("{:.2%}".format)
school_summary['% Overall Passing'] = school_summary['% Overall Passing'].map("{:.2%}".format)


school_summary

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [5]:
#Using the sort values function to sort the schools and display the top 5 performing schools
top_five_schools = school_summary.sort_values(['% Overall Passing'], ascending=[False])
top_five_schools.head(5)

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [6]:
#Using the sort values function to sort the schools and display the bottom 5 performing schools
bottom_five_schools = school_summary.sort_values(['% Overall Passing'], ascending=[True])
bottom_five_schools.head(5)

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
#Calculating the average math score for each grade by school
math_avg_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['math_score'].mean()
math_avg_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['math_score'].mean()
math_avg_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['math_score'].mean()
math_avg_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['math_score'].mean()

#Putting all findings in a DataFrame
math_by_grade = pd.DataFrame({"9th": math_avg_9th,
                              "10": math_avg_10th,
                              "11th": math_avg_11th,
                              "12th": math_avg_12th
                             })

math_by_grade

                             9th         10       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
#Calculating the average reading score for each grade by school
reading_avg_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
reading_avg_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
reading_avg_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
reading_avg_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['reading_score'].mean()

#Putting all findings in a DataFrame
reading_by_grade = pd.DataFrame({"9th": reading_avg_9th,
                              "10": reading_avg_10th,
                              "11th": reading_avg_11th,
                              "12th": reading_avg_12th
                             })

reading_by_grade

                             9th         10       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
bins = [0, 585, 615, 645, 675]
labels = ["<$585", "$585-615", "$615-645", "$645-675"]

school_summary["Spending Ranges"] = pd.cut(school_summary["Budget Per Student"], bins, labels= labels)
spending_groups = school_summary.loc[:, ["Spending Ranges", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].groupby("Spending Ranges")
spending_groups.mean()

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type